# OS
.DS_Store
Thumbs.db

# IDEs/Editors
.idea/
*.iml

# Java / Gradle
.gradle/
**/build/
**/bin/
**/out/
!gradle/wrapper/**
**/target/

# .NET
**/obj/

# Logs
*.log

# Env files
**/.env
**/.env.local

